.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  transition: all 0.3s;

  &.has-scrolled {
    background-color: white;
  }
}

.site-notice-wrapper {
  z-index: 1040;
  position: relative;
  color: white;
  flex-wrap: wrap;

  @include media-breakpoint-down("md") {
    text-align: center;
  }

  p {
    display: flex;
    flex-grow: 1;
    margin: 0;
    line-height: 1.3;
    align-items: center;
  }

  .call-us-wrapper {
    @include media-breakpoint-down("md") {
      display: none;
    }

    a {
      color: inherit;
    }

    i {
      transform: scaleX(-1);
      margin-right: 10px;
      color: inherit;
    }
  }
}
