.page-header {
  background-size: cover;
  background-position: center;
  position: relative;

  .content--header {
    text-align: left;
    min-height: 400px;
    color: white;
    padding-top: 100px;
  }
}
